body
{
    background-image: url(https://th.bing.com/th/id/OIP.8OGyR06hy_M2lR1E_x5dbQHaHa?pid=ImgDet&rs=1);
}
main
{
    align-content: center;
    margin-top: 20px;
    padding-left: 90px;
    margin-bottom: 10px;
    width: 1100px;
}
header
{
    color: rgb(112, 10, 10);
    width: 1100px;
    background-color: rgb(255, 198, 42);
    height: 150px;
    text-align: center;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img
{
    border: 10px dashed rgb(211, 128, 51);
    width: 300px;
    margin: 10px;
    float: left;

}
footer
{
    width: 1100px;
    margin-left: 90px;
    margin-bottom: 10px;
    background-color: rgb(255, 198, 42);
    font-size: 12px;
    float: left;
}

.headerart
{
    width: 1100px;
    color: rgb(190, 31, 10);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-color: rgb(211, 128, 51);
    height: 50px;
}
.separador
{
    width: 1100px;
    background-color: rgb(255, 225, 94);
    float: left;
}
.contart
{
    color: brown;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.separadorsec
{
    height: 80px;
    margin-top: 15px;
    width: 1100px;
    font-size: 25px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 53, 53);
    color: maroon;
    float: left;
}